# Go
# Build and test your Go application.
# Add steps that save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go

pool:
  vmImage: 'Ubuntu 16.04'

resources:
  containers:
    - container: go-1.11.2
      image: golang:1.11.2
    - container: go-1.11.1
      image: golang:1.11.1

trigger:
  - master

jobs:
  - job: do 11.1
    container: go-1.11.1
    steps:
      - script: |
          go version
          go test ./...
          go build

  - job: do 11.2
    container: go-1.11.2
    steps:
      - script: |
          go version
          go test ./...
          go build

