# Go
# Build and test your Go application.
# Add steps that save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go

resources:
  containers:
    - container: go-1.11.2
      image: golang:1.11.2
    - container: go-1.11.1
      image: golang:1.11.1

trigger:
  - master

jobs:
  - job: A
    pool:
      name: Hosted Ubuntu 1604
    steps:
      - script: |
          mkdir a
          touch a/aaaa
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: artifact_a
          targetPath: a

  - job: B
    pool:
      name: Hosted Ubuntu 1604
    steps:
      - script: |
          mkdir b
          touch b/bbbb
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: artifact_b
          targetPath: b

  - job: Containerize
    pool:
      name: Hosted Ubuntu 1604
    dependsOn:
      - A
      - B
    steps:
      - task: DownloadPipelineArtifact@0
        inputs:
          artifactName: artifact_a
          targetPath: .
      - task: DownloadPipelineArtifact@0
        inputs:
          artifactName: artifact_b
          targetPath: .
      - script: |
          find .
          pwd
          docker build -t foo .
